<form [formGroup]="addTodoForm" ngSubmit="addTodo()">
    <div class="input-group mb-3">
        <input (change)="onSubmitState()" type="text" id="inputTodo" name="inputTodo" placeholder="Enter Todo.."
            class="form-control" formControlName="inputTodo" />
        <input type="submit" value="Add Todo" class="btn btn-primary" (click)="addTodo()" />
    </div>
</form>
<div>
    <span *ngIf="isSubmitted && inputTodo && inputTodo.invalid && inputTodo?.errors?.required " style="color : red">
        Todo Input is Invalid, Input Something
    </span>
    <span *ngIf="isSubmitted && inputTodo?.errors?.minlength" style="color: red;">
        Todo Input Minimum Length Need To Be {{ inputTodo?.errors?.minlength?.requiredLength }} characters
    </span>
</div>